apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tn-imx-imx
resources:
  - ../../base

images:
  - name: imx-brp-bevragen-mock
    newName: ghcr.io/brp-api/haal-centraal-brp-bevragen-gba-mock
    newTag: 2.0.8
  - name: imx-brp-bevragen-proxy
    newName: ghcr.io/brp-api/haal-centraal-brp-bevragen-proxy
    newTag: 2.1.2
  - name: imx-fieldlab
    newName: ghcr.io/imx-org/imx-fieldlab
    newTag: 48e7c294df248c5918858e9199b592c925b2d82f
  - name: imx-orchestrate-imxgeo
    newName: ghcr.io/imx-org/orchestrate-imxgeo
    newTag: b284f1feea888489b5dcf4c07bb069e1c01f5d53

patches:
  - target:
      kind: Ingress
      name: imx-brp-bevragen-proxy-ing
    patch: |
      - op: replace
        path: /spec/rules/0/host
        value: imx.apps.digilab.network
      - op: replace
        path: /spec/tls/0/hosts/0
        value: imx.apps.digilab.network
  - target:
      kind: Ingress
      name: imx-fieldlab-ing
    patch: |
      - op: replace
        path: /spec/rules/0/host
        value: imx.apps.digilab.network
      - op: replace
        path: /spec/tls/0/hosts/0
        value: imx.apps.digilab.network
  - target:
      kind: Ingress
      name: imx-orchestrate-imxgeo-ing
    patch: |
      - op: replace
        path: /spec/rules/0/host
        value: imx.apps.digilab.network
      - op: replace
        path: /spec/tls/0/hosts/0
        value: imx.apps.digilab.network
